@model Ticket
<div asp-validation-summary="All"></div>
<div class="card">
  <div class="card-header">
    @Model.Headline - ID @Model.TicketID
  </div>
  <div class="card-body">
    <div class="card-title fw-bold text-center">
      Project @Model.Project.Title - Ticket assigned to @Model.AssignedTo.LastName @Model.AssignedTo.FirstName
    </div>
    <form asp-action="EditTicket" method="post">
      <span asp-validation-for="AssignedTo"></span>
      <label asp-for="AssignedTo.EmployeeID">AssignedTo: </label>
      <select asp-for="AssignedTo.EmployeeID" asp-items="@ViewBag.Employee" class="form-control">
      </select>
      <span asp-validation-for="Description"></span>
      <label asp-for="Description"></label>
      <textarea asp-for="Description"></textarea>
      <button type="submit">Submit Ticket</button>
      <input type="hidden" asp-for="Headline" />
      <input type="hidden" asp-for="TicketID" />
      <input type="hidden" asp-for="Project.ProjectID" />
      <input type="hidden" asp-for="CreatedAt" />
      <input type="hidden" asp-for="CreatedBy.EmployeeID" />
    </form>
    <a asp-action="TicketList" class="btn btn-primary">Back</a>
  </div>
  <div class="card-footer text-muted">
    Created @Model.CreatedAt by @Model.CreatedBy.LastName @Model.CreatedBy.FirstName
    @if (Model.SolvedAt != null)
    {
      @:Solved @Model.SolvedAt
    }
  </div>
</div>
