@model IQueryable<Ticket>

<table class="table table-bordered">
  <thead>
    <tr>
      <td>Projekt</td>
      <td>Headline</td>
    </tr>
  </thead>
  <tbody>
    @foreach (var ticket in Model)
    {
      <tr>
        <td>
          <a asp-action="TicketDetail" asp-route-id="@ticket.TicketID">@ticket.Project.Title</a>
        </td>
        <td>
          <a asp-action="TicketDetail" asp-route-id="@ticket.TicketID">@ticket.Headline</a>
        </td>
        @if (ticket.SolvedAt is null)
        {
          <td>
            <a class="btn btn-outline-dark" asp-action="EditTicket" asp-route-id="@ticket.TicketID">Edit</a>
          </td>
        }
        else
        {
          <td>
            <div>
              <a class="btn btn-outline-success">Solved</a>
              @ticket.SolvedAt
            </div>
          </td>
        }
      </tr>
    }
  </tbody>
</table>
<div>
  <a class="btn btn-outline-primary" asp-action="NewTicket">New Ticket</a>
  @ViewBag.Employee
  @ViewBag.Project
</div>
