@model Ticket

<div class="card">
  <div class="card-header">
    @Model.Headline - ID @Model.TicketID
  </div>
  <div class="card-body">
    <div class="card-title fw-bold text-center">
      Project @Model.Project.Title - Ticket assigned to @Model.AssignedTo.FirstName @Model.AssignedTo.LastName
    </div>
    <p class="card-text">@Model.Description</p>
    <a asp-action="Index" class="btn btn-primary">Back</a>
  </div>
  <div class="card-footer text-muted">
    Created @Model.CreatedAt by @Model.CreatedBy.FirstName @Model.CreatedBy.LastName
    @if (Model.SolvedAt != null)
    {
      @:Solved @Model.SolvedAt
    }
  </div>
</div>

