@model IQueryable<Project>
<h4>Project List</h4>
<table class="table table-bordered table-striped">
	<thead class="">
		<tr>
			<th>Projekt</th>
		</tr>
	</thead>
	<tr>
		<td >ProjectId</td>
		<td >Title</td>
		<td >Description</td>
		<td >Start</td>
		<td >End</td>

	</tr>
	<tbody>
		@foreach (var projekt in Model)
		{
			<tr>
				<td>
					@projekt.ProjectID
				</td>
				
				<td>
					@projekt.Title
				</td>
				<td>
					@projekt.Description
				</td>
				<td>
					@projekt.Start
				</td>
				<td>
					@projekt.End
				</td>
				
			</tr>
		}
	</tbody>
</table>


<a asp-action="AddProject" class="btn btn-primary">Add New  Projects</a>

